@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
  font-family: Roboto Serif;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.app {
  display: flex;
  min-height: 90vh;
}

.menu-toggle {
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: #2e3047;
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}

.hamburger > span::after {
  content: "";
  top: 8px;
}

.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
  position: relative;
  z-index: 2;
  flex: 1 1 0;
  max-width: 300px;
  height: 90vh;
  padding: 2rem 1rem;
  background-color: #2e3047;
}

.sidebar h3 {
  color: #707793;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.sidebar .menu {
  margin: 0 -1rem;
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  transition: 0.2s linear;
  margin-left: 2em;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: #ffc300;
  border-right: 5px solid #ffc300;
}

.sidebar .menu .menu-item:hover {
  border-right: 5px solid #ffc300;
}

.content {
  flex: 1 1 0;
}

.content h1 {
  color: #3c3f58;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  color: #707793;
}

.booking-brief table {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0.5em;
  width: 90%;
  height: 12vh;
  table-layout: fixed;
}

.booking-brief table tr {
  font-size: 20px;
  padding: 0.75em;
}

.booking-brief table th,
.booking-brief table td {
  font-family: Roboto;
  color: #949391;
  padding: 0.625em;
  text-align: center;
}

.booking-brief table th {
  /* letter-spacing: 0.1em; */
  text-transform: uppercase;
}

.news {
  background-color: #d3d3d28e;
  height: 7vh;
  width: 81vw;
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.news h3 {
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
  }

  .table-responsive {
    max-width: 90vw;
  }
}

@media (min-width: 1024px) {
}

@media (max-width: 768px) {
  .content {
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    transition: 0.2s linear;
  }

  .sidebar.is-active {
    left: 0;
  }

  .table-div {
    margin: 1em;
  }

  .booking-div {
    height: 100vh;
    overflow-y: scroll;
  }

  .booking-brief table {
    border: 0;
  }

  .booking-brief table th {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .booking-brief table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .booking-brief table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .booking-brief table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .booking-brief table td:last-child {
    border-bottom: 0;
  }
}
